@page "/"
@layout LobbyLayout
    <div class="lobbyMain">
        <div class="lobbyTopBar">Poker World</div>

        <div class="lobbyPanel">
            <label>
                Room Code
                <input type="text" maxlength="4" min="4" placeholder="" class="form-control" />
            </label>

            <label>
                Alias
                <input type="text" maxlength="15" class="form-control" />
            </label>
        </div>

        <div class="lobbyBackground"/>
    </div>

@code {

}
